:root {
  /* Colors */
  --light-theme-bg-cl: #f6f6f6;
  --dark-theme-bg-cl: #202024;
  --logo-text-light-theme-cl: #000000;
  --logo-text-dark-theme-cl: #f3f3f3;
  --white-cl: #ffffff;
  --black-cl: #111111;
  --violet-cl: #4f2ee8;
  --yellow-cl: #eac645;
  --gray-cl: #b4afaf;
  --book-list-light-theme-cl: rgba(17, 17, 17, 0.6);
  --book-list-dark-theme-cl: rgba(255, 255, 255, 0.6);
  --shopping-list-border: 2px solid rgba(79, 46, 232, 0.4);
  --support-Ukraine-bg: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  --support-Ukraine-box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
}
/* fonts style */
@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Bold.ttf') format('truetype'),
    url('../fonts/DMSans-Bold.woff') format('woff'),
    url('../fonts/DMSans-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: normal;
  font-style: italic;
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Italic.ttf') format('truetype'),
    url('../fonts/DMSans-Italic.woff') format('woff'),
    url('../fonts/DMSans-Italic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: medium;
  font-style: normal;
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Medium.ttf') format('truetype'),
    url('../fonts/DMSans-Medium.woff') format('woff'),
    url('../fonts/DMSans-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Regular.ttf') format('truetype'),
    url('../fonts/DMSans-Regular.woff') format('woff'),
    url('../fonts/DMSans-Regular.woff2') format('woff2');
  font-display: swap;
}
/*
  |============================
  | Reset
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul,
ol,
.list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
a,
.link {
  color: currentColor;
  /* font-style: normal; */
  text-decoration: none;
}
button,
.btn {
  font-family: inherit;
  cursor: pointer;
}
/* address {
  font-style: normal;
} */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea {
  font-family: inherit;
}
/*
  |============================
  | Common styles
  |============================
*/
body {
  background-color: var(--light-theme-bg-cl);
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
}
/* Mobile devices styles */
.container {
  min-width: 320px;
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  outline: 2px solid red;
  outline-offset: -2px;
}
/* Tablet screen styles */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
/* Desktop screen styles */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
/*
  |============================
  | Home page styles
  |============================
*/
/* Mobile devices styles */
.home {
  padding-top: 40px;
  padding-bottom: 80px;
}
.home-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/* Tablet screen styles */
@media only screen and (min-width: 768px) {
  .home {
    padding-bottom: 100px;
  }
  .home-container {
    gap: 100px;
  }
}
@media only screen and (min-width: 1440px) {
  .home {
    padding-bottom: 72px;
  }
  .home-container {
    flex-direction: row;
    gap: 40px;
  }
}
/*
  |============================
  | Sidebar styles
  |============================
*/
/* Mobile devices styles */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 335px;
  margin: 0 auto;
}
/* Tablet screen styles */
@media only screen and (min-width: 768px) {
  .sidebar {
    flex-direction: row;
    gap: 32px;
    min-width: 704px;
  }
}
/* Desktop screen styles */
@media only screen and (min-width: 1440px) {
  .sidebar {
    flex-direction: column;
    gap: 86px;
    float: left;
    min-width: 356px;
  }
}
/*
  |============================
  | Categories list styles
  |============================
*/
/* Mobile devices styles */
.categories-list {
  overflow-y: scroll;
  max-height: 228px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.32px;
}
.categories-list-item {
  cursor: pointer;
}
.categories-list-item:not(:last-child) {
  margin-bottom: 24px;
}
.categories-list-item.active,
.categories-list-item:hover,
.categories-list-item:focus {
  color: var(--violet-cl);
  font-style: normal;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
/* Tablet and desktop screen styles */
@media only screen and (min-width: 768px) {
  .categories-list {
    max-height: 474px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
  .categories-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .categories-list-item.active,
  .categories-list-item:hover,
  .categories-list-item:focus {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}
/*
  |============================
  | Book list styles
  |============================
*/
.books-part {
  width: 335px;
  outline: 2px solid green;
  outline-offset: -2px;
}
.books-part-title {
  margin-bottom: 40px;
  color: var(--black-cl);
  font-style: normal;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -1.28px;
}
.books-part-title-span {
  color: var(--violet-cl);
}
.book-category-container {
  display: flex;
  flex-direction: column;
}
.book-category-container:not(:last-child) {
  margin-bottom: 40px;
}
.book-category-wrapper {
  display: flex;
}
.book-category-title {
  margin-bottom: 18px;
  color: var(--gray-cl);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.book-cards-list {
  display: flex;
  row-gap: 40px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 8px;
  column-gap: 25px;
}
.book-cards-list-one-category {
  flex-wrap: wrap;
}
.book-cards-list-item {
  width: 335px;
  outline: 2px solid orange;
  outline-offset: -2px;
  cursor: pointer;
}
.book-cards-list-item:not(:first-child) {
  display: none;
}
.book-card-img {
  min-width: 335px;
  height: 485px;
  margin-bottom: 14px;
  border-radius: 8px;
}
.book-card-title {
  overflow: hidden;
  margin-bottom: 4px;
  color: var(--black-cl);
  font-style: normal;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: break-word;
}
.book-card-author {
  overflow: hidden;
  color: var(--gray-cl);
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: break-word;
}
.see-more-btn {
  min-width: 124px;
  margin-left: auto;
  padding: 14px 26px;
  border: 2px solid var(--violet-cl);
  border-radius: 40px;
  color: var(--black-cl);
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
}
.see-more-btn:hover,
.see-more-btn:focus {
  background-color: var(--violet-cl);
  color: var(--white-cl);
}
@media only screen and (min-width: 768px) {
  .books-part {
    width: 704px;
  }
  .books-part-title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
  .book-category-title {
    line-height: 1.71;
  }
  .book-cards-list {
    margin-bottom: 20px;
  }
  .book-cards-list-item {
    width: 218px;
  }
  .book-card-img {
    min-width: 218px;
    height: 316px;
  }
  .book-cards-list-item:nth-child(-n + 3) {
    display: block;
  }
}
@media only screen and (min-width: 1440px) {
  .books-part {
    width: 996px;
  }
  .book-cards-list {
    column-gap: 24px;
    margin-bottom: 32px;
  }
  .book-cards-list-item {
    width: 180px;
  }
  .book-card-img {
    min-width: 180px;
    height: 256px;
  }
  .book-cards-list-item:nth-child(n) {
    display: block;
  }
}

.books-not-found-message {
  color: var(--black-cl);
  font-size: 18px;
  text-align: center;
}
